<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>app.ruyasarmali.core</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ruyasarmali</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LUMAAI_API_KEY</key>
	<string>luma-285ab0e8-f565-447d-ad03-940ff4f51080-4fca8a24-39ba-448b-9648-119bb0df154b</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>lumalabs.ai</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>supabase.co</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Rüya anlatımlarını kaydetmek için kamera erişimi gerekebilir.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Sesli rüya anlatımı için mikrofon erişimi gereklidir.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Rüya videolarını galeriye kaydetmek için fotoğraf arşivine erişim gereklidir.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Rüya videolarınızı paylaşmak için fotoğraf arşivine erişim gereklidir.</string>
	<key>OPENAI_API_KEY</key>
	<string>$(OPENAI_API_KEY)</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0d3Z4dmxtY2ZiYmJ5a293dGRyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMyMDc4MDMsImV4cCI6MjA3ODc4MzgwM30.r5rF1iZtwKRa9EwgaPSf8kYxLg-z-d_kTU0FPpQQYg4</string>
	<key>SUPABASE_DREAM_TABLE</key>
	<string>dream_logs</string>
	<key>SUPABASE_URL</key>
	<string>https://ltwvxvlmcfbbbykowtdr.supabase.co</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
